.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  --titleColor: #6d6552;
  --textColor: #293133;
  --textColorHover: #8d917a;
  --fontSizeTitle: 32px;
  --lineHeightTitle: 36px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #f2f2f2;
}

label {
  font-weight: bold;
  margin-bottom: 8px;
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

a {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-size: 25px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
