.navbar {
  margin: 0;
  width: 100%;
  padding: 5px 80px;
  box-sizing: border-box;
  height: 10vh;
  background-color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  text-decoration: none;
}

.link {
  margin-right: 40px;
  font-size: var(--fontSizeTitle);
  line-height: var(--lineHeightTitle);

  &:hover {
    color: #c7d0cc;
  }
}
.linkOut {
  margin-left: auto;
  padding: 5px 25px 8px 25px;
  color: black;
  background: white;
  font-size: var(--fontSizeTitle);
  line-height: var(--lineHeightTitle);
  outline: none;
  border: 2px transparent solid;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;

  &:hover {
    color: var(--textColor);
    border-color: var(--textColor);
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.7);
  }
}
@media (max-width: 1200px) {
  .navbar {
    margin: 0;
    width: 100%;
    padding: 5px 5%;
  }
}

@media (max-width: 800px) {
  .navbar {
    margin: 0;
    width: 100%;
    padding: 5px 5%;
  }
  .link {
    padding: 0;
    margin: 0;
    margin-right: 20px;
    font-size: 22px;
    line-height: 26px;
  }

  .linkOut {
    font-size: 22px;
    line-height: 26px;
  }
}
@media (max-width: 550px) {
  .navbar {
    display: block;
    height: auto;
  }
  .link {
    display: block;
    margin: 10px;
    text-align: center;
  }
  .linkOut {
    display: block;
    margin: 20px auto;
  }
}