.wrapper {
  width: 300px;
  position: relative;
}
.input {
  width: 100%;
  padding: 8px 20px 8px 10px;
  border: 2px var(--titleColor) solid;
  outline: none;
  border-radius: 15px;
  box-sizing: border-box;

  &:focus {
    border-color: black;
  }
}
.christ {
  position: absolute;
  top: 18px;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;

  .leftStrike,
  .rightStrike {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 2px;
    background: var(--titleColor);
    transform: rotate(45deg);
  }
  .rightStrike {
    transform: rotate(-45deg);
  }

  &:hover {
    .leftStrike,
    .rightStrike {
      background-color: black;
    }
  }
}
